<p id="notice"><%= notice %></p>

<p class="title">
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p class="body">
  <strong>Body:</strong>
  <%= @page.body %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
